moviepy>=1.0.3
pims>=0.6.1
PyYAML>=6.0
Pillow>=9.5.0
pytest>=7.4.0
numpy>= 1.25.0rc1
opencv-python>=4.7.0.72
mysql>=0.0.3
mysql-connector-python>=8.1.0
pytorch>=2.0.1
torchvision>=0.15.2
fastap>=0.97.0
uvicorn>=0.22.0